In [2]:
import pandas as pd

#import warnings
#warnings.filterwarnings("ignore")

#pd.set_option('max_columns',500)

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/main/Project/asuransi_mobil.csv')

In [5]:
data.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [7]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [8]:
# Melihat type data apakah berupa integer, bilangan desimal, atau data kategori
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [9]:
# mengecek apakah terdapat data yang kosong
data.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [10]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [11]:
data_drop = data.drop(data_categorical, axis =1)

In [12]:
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [13]:
data_drop.isnull().sum()

IDENTITAS                0
UMUR                     0
JENIS_KELAMIN            0
PENGALAMAN_MENGEMUDI     0
PENDIDIKAN               0
PENGHASILAN              0
PEMILIK_KENDARAAN        0
TAHUN_PRODUKSI           0
STATUS                   0
ANAK                     0
KODE_POS                 0
JENIS_KENDARAAN          0
TILANG_NGEBUT            0
TILANG_MABUK             0
KECELAKAAN_SEBELUMNYA    0
KLAIM                    0
dtype: int64

In [14]:
data_drop.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [15]:
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [16]:
data_drop.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [48]:
data_drop['UMUR'] = \
data_drop['UMUR'].map({'kurang dari 25 tahun':0,'antara 25-40 tahun':1,'antara 40-65 tahun':2,'lebih dari 65 tahun':3})

In [18]:
data_drop.JENIS_KELAMIN.unique()

array(['perempuan', 'laki-laki'], dtype=object)

In [49]:
data_drop['JENIS_KELAMIN'] = \
data_drop['JENIS_KELAMIN'].map({'perempuan':0,'laki-laki':1})

In [20]:
data_drop.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [50]:
data_drop['PENGALAMAN_MENGEMUDI'] = \
data_drop['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':0,'antara 10-20 tahun':1,'antara 20-30 tahun':2,'lebih dari 30 tahun':3})

In [22]:
data_drop.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [51]:
data_drop['PENDIDIKAN'] = \
data_drop['PENDIDIKAN'].map({'tidak ada':0,'SMA':1,'universitas':2})

In [24]:
data_drop.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [52]:
data_drop['PENGHASILAN'] = \
data_drop['PENGHASILAN'].map({'kurang dari UMR':0,'antara 1-2x UMR':1,'antara 2-3x UMR':2,'lebih dari 3x UMR':3})

In [26]:
data_drop.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [53]:
data_drop['PEMILIK_KENDARAAN'] = \
data_drop['PEMILIK_KENDARAAN'].map({'tidak':0,'ya':1})

In [28]:
data_drop.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [54]:
data_drop['TAHUN_PRODUKSI'] = \
data_drop['TAHUN_PRODUKSI'].map({'sebelum 2020':0,'setelah 2020':1})

In [33]:
data_drop.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [55]:
data_drop['STATUS'] = \
data_drop['STATUS'].map({'belum menikah':0,'menikah':1})

In [35]:
data_drop.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [56]:
data_drop['ANAK'] = \
data_drop['ANAK'].map({'tidak ada':0,'ada':1})

In [37]:
data_drop.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [57]:
data_drop['JENIS_KENDARAAN'] = \
data_drop['JENIS_KENDARAAN'].map({'keluarga':0,'sport':1})

In [39]:
data_drop.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [58]:
data_drop['KLAIM'] = \
data_drop['KLAIM'].map({'tidak':0,'ya':1})

In [59]:
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,3,0,0,1,3,1,1,0,1,10238,0,0,0,0,0
1,750365,0,1,0,0,0,0,0,0,0,10238,0,0,0,0,1
2,199901,0,0,0,1,1,1,0,0,0,10238,0,0,0,0,0
3,478866,0,1,0,2,1,1,0,0,1,32765,0,0,0,0,0
4,731664,1,1,1,0,1,1,0,0,0,32765,0,2,0,1,1

In [61]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data_drop)
data_normalisasi = pd.DataFrame(d, columns=data_drop.columns)
data_normalisasi.head(10)

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0.569490,1.000000,0.0,0.000000,0.5,1.000000,1.0,1.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
1,0.750358,0.000000,1.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
2,0.199825,0.000000,0.0,0.000000,0.5,0.333333,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
3,0.478825,0.000000,1.0,0.000000,1.0,0.333333,1.0,0.0,0.0,1.0,0.275179,0.0,0.000000,0.0,0.000000,0.0
4,0.731654,0.333333,1.0,0.333333,0.0,0.333333,1.0,0.0,0.0,0.0,0.275179,0.0,0.090909,0.0,0.066667,1.0
5,0.877566,0.666667,0.0,0.666667,0.5,1.000000,1.0,1.0,0.0,1.0,0.000000,0.0,0.136364,0.0,0.200000,0.0
6,0.930149,1.000000,1.0,1.000000,0.5,1.000000,0.0,1.0,1.0,1.0,0.000000,0.0,0.318182,0.0,0.200000,0.0
7,0.460963,0.333333,0.0,0.000000,1.0,0.333333,0.0,1.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.000000,1.0
8,0.068274,0.666667,0.0,0.666667,1.0,0.333333,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
9,0.445866,0.666667,0.0,0.000000,0.5,1.000000,1.0,0.0,0.0,1.0,0.275179,0.0,0.000000,0.0,0.000000,1.0